<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop.yun.dao.TaskYunMapper" >

  <insert id="insert" parameterType="shop.domain.CellModel" >
    insert into ty_control_int_0 (id, plc_id, spot_name, spot_desc, modbus_address, value, created)
    values (#{id,jdbcType=INTEGER}, #{plcId,jdbcType=INTEGER}, #{spotName,jdbcType=VARCHAR}, 
      #{spotDesc,jdbcType=VARCHAR}, #{modbusAddress,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertList" parameterType="java.util.ArrayList">
    insert into plc_pro_01(config_id, p_name, p_desc, p_type, model, modbus_addr, p_value, cyc, group_code, created)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id},#{item.name},#{item.desc},#{item.type},#{item.model}, #{item.modbusAddr}, #{item.Value}, #{item.cyc}, #{item.groupCode}, now())
    </foreach>
  </insert>

</mapper>