<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shop.yun.dao.TaskYunMapper">
    <resultMap id="ResultMap" type="shop.domain.AlarmModel">
        <id column="id" property="id"/>
        <result column="man_switch" property="manSwitch"/>
        <result column="read_switch" property="readSwitch"/>
        <result column="write_switch" property="writeSwitch"/>
        <result column="dingding_switch" property="dingdingSwitch"/>
        <result column="dingding_alarm" property="dingdingAlarmMsg"/>
        <result column="list_mobies" property="listMobies"/>
        <result column="list_cells" property="listCells"/>
    </resultMap>
    <insert id="insert" parameterType="shop.domain.CellModel">
    insert into ty_control_int_0 (id, plc_id, spot_name, spot_desc, modbus_address, value, created)
    values (#{id,jdbcType=INTEGER}, #{plcId,jdbcType=INTEGER}, #{spotName,jdbcType=VARCHAR}, 
      #{spotDesc,jdbcType=VARCHAR}, #{modbusAddress,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>

    <insert id="insertList" parameterType="java.util.ArrayList">
        insert into plc_pro_01(config_id, p_name, p_desc, p_type, model, modbus_addr, p_value, cyc, group_code,
        created,yun_created)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.desc},#{item.type},#{item.model}, #{item.modbusAddr}, #{item.Value},
            #{item.cyc}, #{item.groupCode}, #{item.created},now())
        </foreach>
    </insert>

    <select id="selectMainSwitch" resultMap="ResultMap" parameterType="java.lang.String">
        select`man_switch` ,`read_switch` ,`write_switch` ,`dingding_switch`,`dingding_alarm` ,`list_mobies`,`list_cells`
        from alarm
        order by created asc
    </select>

</mapper>